<%- include('_header') %>

<div class="auth">
  <h1>Reset password</h1>

  <% if (error) { %><div class="alert"><%= error %></div><% } %>

  <form action="/reset-password/<%= token %>" method="post" class="stack">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <label>New password
      <input type="password" name="password" required minlength="8" autofocus autocomplete="new-password">
      <small>8+ characters.</small>
    </label>

    <label>Confirm password
      <input type="password" name="password_confirm" required minlength="8" autocomplete="new-password">
    </label>

    <button type="submit" class="btn btn-dark btn-lg btn-block">Set new password</button>
  </form>
</div>

<%- include('_footer') %>
